.services {
  width: 100%;
  background-color: aliceblue;
  margin-top: 70px;
  text-align: justify;
}
.servicesContainer {
  width: auto;
  display: flex;
  padding-top: 30px;
  /* background-color: rgb(163, 215, 246); */
  width: 90%;
  margin: auto;
}
.servicesLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(246, 224, 163); */
}
.servicesLeft {
  color: rgb(94, 87, 87);
}
.servicesRight {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(203, 15, 220); */
}
.servicesRight img {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.servicesLeft h1 {
  padding: 10px;
  font-size: 40px;
  padding-bottom: 20px;
  text-align: center;
}
.servicesLeft h2 {
  padding: 10px;
  padding-bottom: 20px;
  text-align: center;
}
.servicesLeft p {
  padding: 10px;
  padding-bottom: 20px;
}
@media (max-width: 700px) {
  .servicesContainer {
    display: block;
  }
}

.statisties {
  display: flex;
}
.status {
  padding: 0 20px;
  font-size: 18px;
  /* line-height: 30px; */
}
.stat {
  padding: 0 20px;
}
