.detailPage {
  width: 100%;
  background-color: aliceblue;
  margin-top: 70px;
  text-align: justify;
}
.detailPageContainer {
  width: auto;
  display: flex;
  padding-top: 30px;
  /* background-color: rgb(163, 215, 246); */
  width: 90%;
  margin: auto;
}
.detailPageLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(246, 224, 163); */
}
.detailPageRight {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(203, 15, 220); */
}
.detailPageRight img {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.detailPageLeft h1 {
  padding: 10px;
  font-size: 40px;
  padding-bottom: 20px;
  text-align: center;
}
.detailPageLeft h2 {
  padding: 10px;
  padding-bottom: 20px;
  text-align: center;
}
.detailPageLeft p {
  padding: 10px;
  padding-bottom: 20px;
}
@media (max-width: 700px) {
  .detailPageContainer {
    display: block;
  }
}

.statisties {
  display: flex;
}
.status {
  padding: 0 20px;
  font-size: 18px;
  /* line-height: 30px; */
}
.stat {
  padding: 0 20px;
}
.detailBtn {
  width: 200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.homeDetailBtn {
  margin-left: 20px;
}
