* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", "Courier New", Courier,
    monospace Arial, sans-serif; */
}
a {
  text-decoration: none;
}
